.heading
{
  color: rgb(213, 7, 79);
  text-align: center;
  /* align-items: center; */
}
body
{
  margin: auto;
}
.calculator-border
{
  width: 25rem;
  /* height: rem; */
  align-items: center;
  margin: auto;
  border: 2px solid black;
}
.answer-section
{
  width: 25rem;
  height: 50px;
  /* text-align: end;
  position: relative; */
  /* text-align-last: end; */
  /* vertical-align: bottom; */
  border: 1px solid black;

}
.answer
{
  text-align: end;
  width:25rem;
  height: 50px;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 150%;
} 
/* .number
{
  width:50px;
  height:50px;
  /* border:0px; 
  padding:0px;
  background-color: blanchedalmond;
  color: blue;
  display: inline-block;
  text-align: center;
  justify-content:left;
  margin: 0px 0px;
  
} */
td
{
  width: 100px;
  height: 50px;
  padding: 0px;
  /* background-color:rgb(171, 240, 171); */
}
table
{
  /* border-spacing: 0px; */
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgba(63, 179, 179, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(33, 209, 156, 0.4);
}
.icon 
{
  text-align: center;
  font-size: large;
}
.footer
{
  font-size: 200%;
  text-align: center;
  margin:1rem auto ;
}
.pressed {
  box-shadow: 0 3px 4px 0 #e904d5;
  opacity: 0.5;
}
